button{
    width: 250px;
    height: 80px;
    font-size: Roboto, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
    border: 5px , solid white;
    border-radius:  15px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: chartreuse;
}

.boton-clic{
    background-color: chocolate;
}

.boton-reiniciar{
    background-color: blueviolet;
}